/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #2B383C;
  border-color: #2B383C;
  
}

.navbar-inverse .navbar-brand {
  font-family: 'Sigmar One', cursive;
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-nav>li:hover {
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
  font-weight: 800;
  background-color: transparent;
}


html, body {
        font-family: 'Open Sans', sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }

#map {
    height: 100%;
    float: left;
    width: 70%;
    height: 750px;
}

#directions-panel {
    margin: 1em;
    border-width: 2px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 20px;
    float: left;
    display: inline-block;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}


div.transbox {
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 30px;
    vertical-align: center;
    text-align: center;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 400%;
  font-weight: 900;
  line-height: 40px;

}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 200%;
  font-style: italic;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 23px;

}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

input:placeholder-shown {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}