<!doctype html>
<html>
    <head>
      <title>Beeline</title>

      <!-- Bootstrap -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,800i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">

      <!-- jQuery -->
      <script src="http://code.jquery.com/jquery.js"></script>

      <!-- Stylesheet -->
      <link rel="stylesheet" type="text/css" href="/static/styling.css">
      
    {% block head %} Head Content here {% endblock %}
    </head>

<body>
 
 <div id="loadinggif"></div>
 <div id="extending">
{% block content %} Body Content here {% endblock %}

</body>


</html>
