<!doctype html>
<html>
    <head>
      <title>Quick Route</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
      <script src="http://code.jquery.com/jquery.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/static/styling.css">
    {% block head %} Head Content here {% endblock %}
    </head>

<body>
 
 <div id="loadinggif"></div>
 <div id="extending">
{% block content %} Body Content here {% endblock %}

</body>


<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</html>
