<!DOCTYPE HTML>
<html>
<head>
  <title>Route Mapper</title>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/route_map.js"></script>
 <!--  <link ref="stylesheet" href="./map.css"> -->
   <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        width: 100%;
      }
    </style>
</head> 
<body>
  <div id="map"></div>
  <b>Start:</b>
  <script>
  

  </script>
  <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{mykey}}&v=3&callback=initMap">
    </script>
  </body>
</html>

  
  
  



